<header class="header">
    <div class="container">
  <a href="#" class="header__logo">
    <img src="assets/img/logo.png" alt="logo" />
  </a>
  <div class="header__controls float-right">
    <div class="header__user">
      <span *ngIf="isAuthenticated()" class="header__user-name">{{ userName }}</span>
    </div>
    <button *ngIf="!isAuthenticated()" class="btn btn-outline-light btn-sm" type="button" (click)="onLogInBtnClick()">Log In</button>
    <button *ngIf="isAuthenticated()" class="btn btn-outline-light btn-sm" type="button" (click)="onLogOutBtnClick()">Log Out</button>
  </div>
  </div>
</header>
