/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body {
    height: 100%;
    margin: 0;
}

.btn.dark{
    color: #464547;
    border-color: #464547;

    &:hover, &:focus{
        color: #fff;
        background: #464547;
    }
}

.wrapper{
    margin-bottom: 1rem;
    min-height: 100%;
}